.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "user-info pictures pictures pictures pictures" "user-info pictures pictures pictures pictures" "user-info comments comments comments comments" "user-info song-bar song-bar song-bar song-bar" "user-info . . . .";
}

.user-info { grid-area: user-info; }
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pictures { grid-area: pictures; }

.comments { grid-area: comments; }

.song-bar { grid-area: song-bar; }

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

#model {
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
  max-height: 230px;
  opacity: 1;
 }
  
  #showMore{
    text-align: center;
  }


.img-thumbnail {
  border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
    border-bottom-left-radius: 0.55rem;
    box-shadow: 0 0 15px black;
}

.centered{
  position: absolute;
height: 30px;
cursor: pointer;
width: 30px;
z-index:2 ;
bottom: 10%;
filter: invert(1);
  left: 50%;
  transform: translate(-50%, -50%);
}

.next{
  position: absolute;
  height: 28px;
  cursor: pointer;
  width: 30px;
  z-index:2 ;
  bottom: 10%;
  filter: invert(1);
    left: 75%;
    transform: translate(-50%, -50%);
}

.prev{
  position: absolute;
  height: 28px;
  cursor: pointer;
  width: 30px;
  z-index:2 ;
  bottom: 10%;
  filter: invert(1);
    left: 25%;
    transform: translate(-50%, -50%);
}

.paused{
  position: absolute;
height: 30px;
cursor: pointer;
width: 30px;
z-index:2 ;
bottom: 10%;
filter: invert(1);
  left: 50%;
  transform: translate(-50%, -50%);
}
	